body{
	background: #F2F2EB;
}
.navbar{
	margin-bottom: 0px;
}
.logo{
	max-width: 109px;
	max-height: 76px;
	
}
.redes{
	padding: 0 0 0 77%;
}
.principal{
	background: #5E7717;
	color: #FFF;
	max-height: 75px;
	padding: 0px 0px 0px 4%;
}
.barra{
	padding: 0px 0px 0px 0px;
}
.galeria{
	background: transparent;
	max-height: 454px;
	padding: 0px 0px 1px 0px;
	border: 2px #222 solid;
	margin-bottom: 20px;

}
 .galeria img{
	max-height: 450px;
	width: 100%

}
.sec-1{
	color: #333333;
	background: transparent;
	margin-bottom: 20px;
}
.sec{
	background: #FFFFFF;
	border:solid 1px #F2F2EB;
}
footer{
	background: #2C3E50;
	color: #FFF;
	height: 100px;
}